.contribution-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background: #f7f7f7;
  border-radius: 10px;
}

.about-contributer {
  display: flex;
  margin: 10px;
  width: 30vw;
  align-items: center;
  img {
    margin: 10px;
  }
}

.column-right {
  width: 10vw;
}
