.new-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 90vh;
}

.white-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 40vw;
  margin: auto;
}
