<div id="about" class="flex-around text-center">
  <div>
    <h2>What is this?</h2>
    <p>At PortfolioSpace we believe that actions speak louder than words. Forget about CVs, LinkedIn, and standardized testing. Let the quality of your work speak for itself.</p>
  </div>
</div>
