<div class="new-wrapper" style="background-image: url('<%= image_path("back-add")%>')">
  <div class="container">
    <div class="white-box">
        <h1 class="text-center">Create a new project</h1>
        <%= render 'form' %>
    </div>
  </div>
</div>



