<h1>Project.title</h1>
<p>Find me in app/views/projects/show.html.erb</p>


<!-- PROJECT CREATOR INFORMATION -->
<div class="">
	


</div>

<!-- SHOW THE PROJECT -->

<div class="center-box"> 
  	<h1 class="title"><%= project.title %> </h1>
  	<p class="details"><%= project.brief %></p>
  	<p class=""><%= project.end_date %></p>
</div>

<!-- PROJECT PARTICIPATERS -->

<div class=" ">
	


</div>





