<h1>Contributions</h1>
<p>Find me in app/views/contributions/index.html.erb</p>

<% @contributions.each do |contribution| %>
  <p><%= contribution.title %></p>
  <p><%= contribution.comment %></p>
<% end %>
