.about-us {
  padding: 50px 0px;
}

.three-about-sections  {
  img {
    width: 50px;
    padding-top: 25px;
    align-item: right;
  }
  h1 {
    font-size: 20px;
    margin: 5px 0px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}
