.content-box {
  background-color: $box-background-color;
  box-shadow: 4px;
  border-radius: 4px;
  border: 1px solid $box-background-color;
	&:hover {
	  opacity: 0.9;
	}
  .header {
    color: $gray-base;
    font-size: $h2-size;
    padding: 0px 0px 5px 0px;
    &:main {
     padding: 15px 0px 5px 0px;
    }
  }
	.details {
    color: $gray-base;
    padding: 10px 0px 10px 0px;
	}
  hr {
    border-color: $brand-color;
  }
}





