.margin {
	margin-top: 20px;
}
.body-text {
	font-size: $base-size;
	font-weight: lighter;
}
.font {
	color: $brand-color;
	font-weight: lighter;
}
#margin-bot {
	margin-bottom: 50px;
}
// .form-background {
// 	background-color: $light-grey;
// }




