.wrapper-work-with {
  background: $box-background-color;
  padding: 30px;
}

.three-icons {
  text-align: center;
  width: 610px;
  text-align: center;
  margin: auto;
}

.four-icons {
  text-align: center;
  width: 820px;
  margin: auto;
}

.container-top {

}

.container-bottom {
  margin-top: -70px;
}

.container-work-with {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}


